includes:
	- phpstan-baseline.php

parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '#generic class ReflectionClass but does not specify its types#'
        - '#generic class ReflectionClass does not specify its types#'